*{margin:0;
padding: 0;}
body{
    background-color: rgb(32, 32, 32);
}
.text{background-image:linear-gradient(#b83d04,hsl(286, 100%, 49%),#00ab1a);
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 10px;
    border-radius: 6px;
    margin-left: 40px;
    margin-right:40px;
}
.container{
    display: flex;
    padding:2px;
    flex-direction: row;
    padding: 20px;
    height: 380px;
    justify-content:space-around;
    border: 10px solid#000b86;
    margin-top: 30px;
    margin-left: 40px;
    margin-right:40px;
    background-image: linear-gradient(#ff5100,#c405fe,#019617);

}h3{
    font-family: robot;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px;
}p{
    color: aliceblue;
    text-align: center;
}
span{
font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(18, 122, 182);
}img{
    border-radius: 6px;
    width: 400px;
}
nav ul{
    list-style: none;
}nav ul li{
    display:inline-block;
    padding: 10px 20px;
    text-decoration:none;
    font-size: 19px;
    color: aliceblue;
    transition: 0.6s;
}nav ul li a:hover{
    background-color: #b83d04;
}